*{margin:0 auto;padding:0;}
a{text-decoration:none;}
div,img {
	box-sizing: border-box;
}
img {
	display: block;
	max-width: 100%;
	margin:0 auto;
}
button{outline:none;}
.clear:after { content:''; display:block; clear:both; }
.text-l{text-align:left;}
.text-c{text-align:center;}
.text-r{text-align:right;}
.hide{display:none;}
.blackbg {position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: #000;opacity: 0.3;z-index: 555;}

.textellipsis1{
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-webkit-text-overflow:ellipsis;
	-moz-text-overflow:ellipsis;
	white-space:nowrap;
}
.textellipsis2{
	word-break:break-all;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	overflow:hidden;
}
.weui-picker-modal{height:5.7rem;}
.toolbar .toolbar-inner{height:0.8rem;line-height:0.8rem;}
.toolbar .picker-button{height:0.8rem;line-height:0.8rem;font-size:0.35rem;}
.toolbar .title{height:0.8rem;line-height:0.8rem;font-size:0.35rem;}
.weui-picker-modal .picker-items{font-size:0.35rem;}
.weui-picker-modal .picker-modal-inner{height:4.9rem;}
.weui-picker-modal .picker-item{text-align:center;}

.picker-calendar-row{height:0.6rem;line-height:0.6rem;padding:0.1rem 0;}
i.icon.icon-prev,i.icon.icon-next{background-size:0.3rem;width:0.8rem;line-height:0.8rem;height:0.8rem;position:absolute;margin-left:-0.4rem;}
.icon-next:before {content: "";}
.picker-calendar-month-picker a.icon-only, .picker-calendar-year-picker a.icon-only{height:0.8rem;line-height:0.8rem;}
.picker-calendar-month-picker .current-month-value, .picker-calendar-month-picker .current-year-value, .picker-calendar-year-picker .current-month-value, .picker-calendar-year-picker .current-year-value{height:0.8rem;line-height:0.8rem;font-size:0.35rem;}
.picker-calendar-day span{width:0.6rem;height:0.6rem;line-height:0.6rem;font-size:0.3rem;}
.picker-calendar-week-days{font-size:0.3rem;height:0.8rem;line-height:0.8rem;}
.picker-calendar-week-days .picker-calendar-week-day{height:0.8rem;line-height:0.8rem;}

.weui-toast{width:3.5rem;left:4rem;min-height:auto;padding:0.2rem 0;}
.weui-icon_toast{margin-bottom:0.15rem;margin-top:0.15rem;font-size:0.6rem;margin:0;}
.weui-toast_content{font-size:0.35rem;}

.weui-dialog__hd {padding:0;font-size:0.5rem;}
.weui-dialog__title{font-size:0.4rem;}
.weui-dialog__bd{padding:0.2rem;font-size:0.35rem;min-height:0.4rem;line-height:0.4rem;}
.weui-dialog__ft{font-size:0.35rem;line-height:1rem;}

.weui-cells{font-size:0.3rem;}
.weui-cell{padding:0.2rem 0.3rem;}
.weui-cells__title{font-size:0.3rem;padding:0.2rem;margin:0 auto;}
.weui-btn{padding:0.03rem;font-size:0.32rem;border-radius: 0.15rem;line-height:0.75rem;}

.weui-select{height:0.5rem;line-height:0.5rem;}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom:0;height:1.4rem;}


#header{max-width:7.5rem;padding:0 0.2rem;height:0.9rem;line-height:0.9rem;background:#E64340;color:#fff;}
#header .back{width:20%;float:left;font-size:0.32rem;}
#header .back span{font-size:0.28rem;margin-left:0.05rem;}
#header .title{width:60%;float:left;font-size:0.32rem;}
#header .other{width:20%;float:right;}

#footer{width:100%;height:1rem;position:fixed;z-index:99;bottom:0;background:#fff;border-top:solid 1px #eee;}
#footer .item{-webkit-box-flex:1; -moz-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;text-align:center;position:relative;color:#666;}
#footer .item a{color:#666;}
#footer .item .badge{position:absolute;right:30%;top:0.05rem;width:0.4rem;height:0.4rem;line-height:0.4rem;background:red;color:#fff;text-align:center;border-radius:100%;font-size:0.22rem;}
#footer .item .iconfont{font-size:0.5rem;height:0.5rem;line-height:0.5rem;margin-top:0.1rem;}
#footer .item img{height:0.5rem;line-height:0.5rem;margin-top:0.1rem;}
#footer .item .text{height:0.4rem;line-height:0.4rem;font-size:0.26rem;}
#footer .now a,#footer .now .iconfont,#footer .now .text{color:#E64340;}

.nodata{margin:0.8rem auto;font-size:0.45rem;color:#999;}
.nodata .iconfont{font-size:2.5rem;height:2.5rem;line-height:2.5rem;}
.nodata .text{font-size:0.3rem;margin-top:0.2rem;}


.faces{border-top:#D6D6D8 solid 1px;height:3.4rem;width:100%;background:#F5F5F7;padding:0.1rem 0.15rem;}
.faces .faceitem{width:0.9rem;height:0.8rem;float:left;padding:0.1rem 0.15rem;}

.flex{
	display: box;              /* OLD - Android 4.4- */
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
}

.flex1{-webkit-box-flex:1; -moz-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}


#messibox{
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
#messibox #chatcon{width:100%;font-size:0.28rem;overflow-x:hidden;overflow:auto;-webkit-overflow-scrolling:touch;background:#f5f5f5;}

#messibox .goods{padding:0.2rem;background:#fff;height:1.8rem;width:100%;}
#messibox .goods img{width:1.4rem;height:1.4rem;}
#messibox .goods .goodsmsg{margin-left:0.2rem;flex:1;}
#messibox .goods .goodsmsg .title{height:0.8rem;line-height:0.4rem;color:#666;font-size:0.3rem;}
#messibox .goods .goodsmsg .price{height:0.4rem;line-height:0.4rem;color:#E64340;font-size:0.34rem;font-weight:bold;margin-top:0.2rem;}

#chatcon a{color:#999;word-wrap:break-word;}
#chatcon .time{font-size:0.28rem;margin-top:0.2rem;color:#666;width:100%;}
#chatcon .left{padding:0.2rem;width:100%;}
#chatcon .left img.avatar{width:0.8rem;height:0.8rem;border-radius:0.1rem;}
#chatcon .left .con{margin-left:0.2rem;}
#chatcon .left .con .triangle-left{width:0;height:0.3rem;border-top:0.15rem solid transparent;border-bottom:0.15rem solid transparent;border-right:0.15rem solid #fff;margin-top:0.25rem;}
#chatcon .left .con .concon{word-break: break-all;border-radius:0.1rem;background:#fff;color:#333;min-width:0.8rem;max-width:4.6rem;font-size:0.3rem;line-height:0.4rem;padding:0.2rem;width:auto;}
#chatcon .left .con .concon .miao{font-size:0.24rem;}
#chatcon .left .con .concon .weidu{color:red;font-size:0.24rem;}
#chatcon .left .con .concon img{display:inline;}
#chatcon .left .con .voiceplay{width:2rem;}


#chatcon .right{padding:0.2rem;width:100%;flex-direction:row-reverse;}
#chatcon .right img.avatar{width:0.8rem;height:0.8rem;border-radius:0.1rem;}
#chatcon .right .con{margin-right:0.2rem;flex-direction:row-reverse;}
#chatcon .right .con .triangle-right{width:0;height:0.3rem;border-top:0.15rem solid transparent;border-bottom:0.15rem solid transparent;border-left:0.15rem solid #E64340;margin-top:0.25rem;}
#chatcon .right .con .concon{word-break: break-all;border-radius:0.1rem;background:#E64340;color:#fff;min-width:0.8rem;max-width:4.6rem;font-size:0.3rem;line-height:0.4rem;padding:0.2rem;width:auto;}
#chatcon .right .con .concon .miao{font-size:0.24rem;}
#chatcon .right .con .concon .weidu{color:red;font-size:0.24rem;}
#chatcon .right .con .concon img{display:inline;}
#chatcon .right .con .voiceplay{width:2rem;flex-direction:row-reverse;}

.fx-audio {position: fixed;z-index: 12;left: 30%;width:40%;top: 30%;font-size: 0.32rem;color: #fff;background: #000;opacity: 0.7;border-radius: 0.15rem;text-align:center;padding:0.2rem;}
.fx-audio .audio-start{font-size:0.7rem;height:0.7rem;}


.loading {width: 100%; height: 100%; position: fixed;top: 0; left: 0; background-color: #000; z-index: 9999; opacity:0.3;}
.loading .loader{position:absolute;top:40%;font-size:0.32rem;width:100%;text-align:center;color:#fff;}

.meixialert{
	position:fixed;
	z-index:999;
	width:80%;
	left:10%;
	background:#fff;
	top:10%;
	padding:0.5rem 0;
	border-radius:0.1rem;
	-moz-box-shadow:0px 1px 6px #999; -webkit-box-shadow:0px 1px 6px #999; box-shadow:0px 1px 6px #999;
}
.meixialert .title{
	color:#EB5050;
	text-align:center;
	font-size:0.34rem;
	margin-bottom:0.3rem;
}
.meixialert .alertcon{
	max-height:6rem;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
}
.meixialert .input-item{
	margin:0 auto 0.2rem auto;
	height:0.8rem;
	border-radius:0.1rem;
	width:66%;
	padding:0 2%;
}
.meixialert .input-item input{
	flex:1;
	font-size:0.28rem;
	color:#363F51;
	border:none;
	background:#F4F4F5;
	height:0.6rem;
	line-height:0.6rem;
	padding:0.1rem 0;
	text-indent:0.1rem;
}
.meixialert .textarea-item{
	margin:0 auto 0.2rem auto;
	height:1.6rem;
	border-radius:0.1rem;
	width:70%;
}
.meixialert .textarea-item textarea{
	flex:1;
	font-size:0.28rem;
	color:#363F51;
	border:none;
	background:#F4F4F5;
	line-height:0.5rem;
	padding:0.1rem 0;
	text-indent:0.1rem;
}
.meixialert .con-item{
	margin:0 auto 0.2rem auto;
	min-height:0.6rem;
	line-height:0.6rem;
	border-radius:0.1rem;
	width:70%;
	border:solid 1px #ccc;
	color:#ccc;
	font-size:0.28rem;
	text-align:center;
}
.meixialert .con-item-now{
	border:solid 1px #E62828;
	color:#E62828;
}
.meixialert .noadata{color:#ccc;padding:0.3rem 0;text-align:center;font-size:0.3rem;}
.meixialert .button-item{
	margin:0 auto;
	height:0.8rem;
	width:70%;
}
.meixialert .button-item .subbtn{
	flex:1;
	background:#E62828;
	height:0.8rem;
	line-height:0.8rem;
	border-radius:0.8rem;
	text-align:center;
	color:#fff;
	font-size:0.32rem;
	border:none;
}


.meixialert img{max-width:100%;}
.meixialert .unfollowtext{line-height:0.5rem;font-size:0.32rem;text-align:center;color:#666;}

.back2{width: 0.7rem;height: 0.7rem;line-height: 0.7rem;border-radius: 0.7rem;text-align: center;font-size: 0.28rem;position: fixed;z-index: 98;background: #000;opacity:0.6;color: #fff;top: 0.2rem;left: 0.2rem;}

#autodiv{padding:0.12rem 0.2rem;background:#fff;width:100%;overflow-x: auto;-webkit-overflow-scrolling:touch;}
#autodiv .autodiv-con{white-space: nowrap;height:0.52rem;line-height:0;}
#autodiv .autodiv-item{
	border-radius:0.15rem;height:0.5rem;line-height:0.5rem;font-size:0.26rem;color:#ccc;
	border:solid 1px #ccc;padding:0 0.1rem;display:inline-block;
}

#messifooter{height:1rem;background:#F5F5F7;width:100%;border-top:#D6D6D8 solid 1px;padding:0.1rem 0;}
#messifooter .iconfont{width:0.8rem;height:0.8rem;line-height:0.8rem;text-align:center;color:#828388;font-size:0.58rem;}
#messifooter .qqface{font-size:0.53rem;}
#messifooter .input{margin-top:0.02rem;}
#messifooter .input textarea{flex:1;border: solid 1px #DCDCDE;font-size:0.3rem;color:#333;border-radius:0.05rem;background:#fff;padding:0.05rem;height:0.6rem;line-height:0.3rem;-webkit-appearance: none;}
#messifooter .saybutton {
	border: solid 1px #DCDCDE;
	font-size:0.3rem;
	color:#777;
	border-radius:0.05rem;
	height:0.7rem;
	line-height:0.65rem;
	margin-top:0.04rem;
	font-weight:bold;
	text-align:center;
	max-width:100%;
	flex:1;
}
#messifooter .docomment{width:1rem;line-height:0.6rem;height:0.6rem;text-align:center;background:#E64340;color:#fff;font-size:0.28rem;border-radius:0.05rem;margin-top:0.1rem;margin-right:0.1rem;}



.showmore{background:#F5F5F7;border-top:#D6D6D8 solid 1px;padding:0.2rem 0.2rem 0 0.2rem;width:100%;height:3.4rem;}
.showmore .flex .item{width:1.75rem;height:1.6rem;}
.showmore .flex .item .itemwrap{height:1.4rem;width:1.4rem;margin:0 auto;border-radius:0.15rem;border:solid 1px #DCDCDE;background:#fff;}
.showmore .flex .item .itemwrap .iconfont{height:0.8rem;line-height:0.8rem;font-size:0.56rem;color:#999;text-align:center;margin-top:0.05rem;}
.showmore .flex .item .itemwrap .text{height:0.4rem;line-height:0.4rem;font-size:0.24rem;color:#999;text-align:center;}