<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>测试</title>	
	<link rel="stylesheet" href="{MD_ROOT}static/iconfont/iconfont.css?v=20171228"/>
	<link rel="stylesheet" href="{MD_ROOT}static/css/weui.min.css"/>
	<link rel="stylesheet" href="{MD_ROOT}static/css/jquery-weui.min.css"/>
	<link rel="stylesheet" href="{MD_ROOT}static/newui/css/common.css?v=20171228"/>
    <script>
        var deviceWidth = document.documentElement.clientWidth;
        document.documentElement.style.fontSize = deviceWidth / 7.5 + 'px';
    </script>
	{php echo register_jssdk(false);}
	<style>
	body,html,#box{width:100%;height:100%;}
	#box{flex-direction:column;}
	#box #content{flex:1;width:100%;font-size:0.28rem;overflow-x:hidden;overflow:auto;-webkit-overflow-scrolling:touch;background:#f5f5f5;}
	#footer2{padding:0 0.2rem;background:#fff;width:100%;}
	#footer2 input{flex:1;height:0.8rem;border:none;font-size:0.3rem;background:#f1f1f1;}
	#footer2 .new{width:100%;height:0.8rem;background:green;}
	.hide{display:none;}
	#footer3{width:100%;height:1rem;background:#fff;}
	</style>
</head>

<body style="background:#f5f5f5;">

<div id="box" class="flex">
	<div id="content" class="content">
		<h1>222</h1><h1>222</h1><h1>222</h1><h1>222</h1><h1>222</h1><h1>222</h1>
		<h1>222</h1><h1>222</h1><h1>222</h1><h1>222</h1><h1>222</h1><h1>222</h1><h1>222</h1><h1>222</h1><h1>222</h1><h1>222</h1><h1>222</h1><h1>222</h1><h1>222</h1><h1>222</h1><h1>222</h1><h1>222</h1><h1>222</h1><h1>222</h1>
	</div>
	<div class="flex" id="footer2">
		<input type="text" id="input" value="" />
	</div>
	<div class="flex hide" id="footer3"></div>
</div>
<script src="{MD_ROOT}/static/newui/js/jquery-3.1.1.min.js"></script>
<script src="{MD_ROOT}/static/newui/js/jquery-weui.min.js"></script>
<script src="{MD_ROOT}/static/newui/js/swiper.min.js"></script>
<script type="text/javascript">
var overscroll = function (els) {
	for (var i = 0; i < els.length; ++i) {
		var el = els[i];
		el.addEventListener('touchstart', function () {
			var top = this.scrollTop
				, totalScroll = this.scrollHeight
				, currentScroll = top + this.offsetHeight;
			if (top === 0) {
				this.scrollTop = 1;
			} else if (currentScroll === totalScroll) {
				this.scrollTop = top - 1;
			}
		});
		el.addEventListener('touchmove', function (evt) {
			if (this.offsetHeight < this.scrollHeight)
				evt._isScroller = true;
		});
	}
};

//禁止body的滚动事件
document.body.addEventListener('touchmove', function (evt) {
	if (!evt._isScroller) {
		evt.preventDefault();
	}
});

//给class为.content的元素加上自定义的滚动事件
overscroll(document.querySelectorAll('.content'));

$(function(){
	$("#input").focus(function(){
		$("#footer3").removeClass("hide");
	});
})
</script>
</body>
</html>